<!DOCTYPE html>
<html>
<head>
	<title>Mango Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/styles.css">





</head>
<body>
	<div class="login">
		<form action="/method" method="POST" target="_blank">
			<p>Enter Mango price: </p>
			<input type="number" name="Close Price" placeholder="Close Price">
			<button type="submit" class="btn">Predict</button>


		</form>


		<br>
		<br>
		<div class="hi">
		{{prediction_text}}
		</div>

	</div>


</body>
</html>
